html {
    background-color: #D1DBEB;
    min-width: 500px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: goldenrod;
}

#content {
    display: flex;
    flex-flow: column nowrap;
    margin: 0% 13%;
}

/* grid for the content div? */

.new-project-button {
    flex: 0 1 140px;
    height: 40px;
    font-size: 1rem;
    border: 2px solid goldenrod;
    color: black;
    border-radius: 12px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 124, 224, 24%);
    overflow: auto;
}

form > div {
    align-self: center;
    font-size: 1.24rem;
}

.form {
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid black;
    border-radius: 12px;
    justify-content: center;
    margin: 20% auto;
    width: 340px;
    padding: 12px 12px 24px 12px;
    box-shadow: 2px rgba(0, 0, 0, 0.2);
}

.submit-btn {
    font-size: 0.9rem;
    flex: 0 1 32px;
    width: 100px;
    align-self: flex-end;
    border: 2px solid black;
    border-radius: 9px;
}

.form-child {
    margin: 4px;
}

.date-container-div {
    display: flex;
}

.date-container-div > label,
 .date-container-div > input {
    font-size: 1.1rem;
    margin: 0px 24px;
}