html {
    background-color: #D1DBEB;
    min-width: 500px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: goldenrod;
}

#content {
    display: flex;
    flex-flow: column nowrap;
    margin: 0% 5%;
}

.new-project-button {
    flex: 0 1 140px;
    height: 40px;
    font-size: 1rem;
    border: 2px solid goldenrod;
    color: black;
    border-radius: 12px;
}

.new-project-button:hover,
.delete-btn:hover,
#deleteProject:hover,
#cancelDelete:hover,
.add-todo-btn:hover {
    transform: scale(1.08);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 124, 224, 24%);
    overflow: auto;
}

form > div {
    align-self: center;
    font-size: 1.24rem;
}

.form {
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid black;
    border-radius: 12px;
    justify-content: center;
    margin: 20% auto;
    width: 340px;
    padding: 12px 12px 24px 12px;
    box-shadow: 2px rgba(0, 0, 0, 0.2);
}

.submit-btn {
    font-size: 0.9rem;
    flex: 0 1 32px;
    width: 100px;
    align-self: flex-end;
    border: 2px solid black;
    border-radius: 9px;
}

.form-child {
    margin: 4px;
}

.date-container-div {
    display: flex;
}

.date-container-div > label,
 .date-container-div > input {
    font-size: 1.1rem;
    margin: 0px 24px;
}

.project-grid {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 300px 300px 300px;
}

.projects {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border: 1px solid goldenrod;
    border-radius: 8px;
    margin: 4px;
}

.projects:hover {
    transform: scale(1.05);
}

.projects > header {
    display: flex;
    justify-content: space-between;
    max-height: 20px;
    margin: 10px 20px;
}

header > h2,
header > h3 {
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.green {
    border: 3px solid green;
}

.gold {
    border: 3px solid darkgoldenrod;
}

.red {
    border: 3px solid red;
}

.delete-btn {
    flex: 0 0 64px;
    height: 32px;
    align-self: flex-end;
    background-color: red;
    color: white;
    border-radius: 9px;
    border: 2px solid black;
}

.project-btn-container {
    display: flex;
    justify-content: space-between;
    margin: 10px
}

.delete-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 124, 224, 24%);
    overflow: auto;
}

.alert-container {
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid black;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    margin: 20% auto;
    padding: 8px;
    width: 360px;
    box-shadow: 2px rgba(0, 0, 0, 0.2);
    background-color: #fcecec;
}

.alert-container > h1 {
    display: block;
    color: red;
    margin: 4px;
}

.alert-container > p {
    margin: 4px;
    text-align: center;
}

.btn-container {
    display: flex;
    width: 360px;
    justify-content: space-between;
}

.delete-btn,
.add-todo-btn {
    border-radius: 12px;
    height: 32px;
    padding: 4px;
}

#deleteProject {
    color: white;
    border: 2px solid black;
    background-color: red;
}

.add-todo-btn {
    border: 2px solid goldenrod;
} 