html {
    background-color: #D1DBEB;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    display: flex;
    flex-flow: column nowrap;
    margin: 0% 20%;
}

/* grid for the content div? */

header > button {
    height: 48px;
}